
<div align='right' >
<%= link_to 'Sign in', :controller => 'users', :action =>'sign_in' %>
<%= link_to 'Sign up', :controller => 'users', :action =>'sign_up' %>
</div>
<h1 align='center'>Welcome!</h1>
<div class="img" align="center">
<%= image_tag('front.jpg') %>
</div>