<div class="page-header", style="color:#ff0000 ; background:#553456 ; padding:10px; margin:0px">
	<h>Welcome to my Blog!</h>
	<p></p>


<ul class="nav nav-pills">
	<li class="active">
		<a href="/users/main">HOME</a>
	
	<li><a href="/users/about">About </a></li>
	<li><a href="/users/contact">Contact </a></li>
	<li><% if user_signed_in? %>
		<%= link_to("Profile", {:controller => 'users',:action => 'show', :id=> current_user.id})%></li>
	<p align=right>Signed in as <%= current_user.name%>.Not you?
		<%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></p>
	<% end %>
	</li>
</ul>
</div>
